# üìä Caso de an√°lisis: Emisiones de di√≥xido de carbono por pa√≠s (1975-2017)
## üß† Objetivo:
Los estudiantes deben analizar la evoluci√≥n de las emisiones de CO‚ÇÇ en varios pa√≠ses desde 1975 hasta 2017, distinguiendo entre:

- Emisiones totales: Miden la cantidad total de CO‚ÇÇ emitido en un pa√≠s.

- Emisiones per c√°pita: Indican cu√°ntas toneladas m√©tricas de CO‚ÇÇ emite, en promedio, una persona en ese pa√≠s.

## <mark>Estudiante: \> Jafet Rojas Zamora </mark>

## Contexto

üåç An√°lisis de Emisiones de CO‚ÇÇ ‚Äì Caso Pr√°ctico
üìÅ Archivo: Carbon_Dioxide_Emission_Estimates.csv
Contiene datos de emisiones de di√≥xido de carbono (CO‚ÇÇ) de varios pa√≠ses entre 1975 y 2017.

üßæ Estructura de los datos
- Country: Pa√≠s

- Year: A√±o

- Type: Tipo de emisi√≥n:

    * Emisiones totales (kilotoneladas m√©tricas)

    * Emisiones per c√°pita (toneladas m√©tricas por persona)

- Value: Valor num√©rico de la emisi√≥n

üîç Tipos de emisiones
- Totales: CO‚ÇÇ emitido por todo el pa√≠s (kt)

- Per c√°pita: CO‚ÇÇ promedio por persona (t CO‚ÇÇ/persona)

    - Se calcula dividiendo emisiones totales por la poblaci√≥n

In [190]:
#Importa el CSV como un DataFrame
import csv, pandas as pd

df = pd.read_csv ('Estimaciones_Emisiones_Dioxido_Carbono.csv', encoding='utf-8')
print("---------------------- RESUMEN Estimaciones -------------------")
df

---------------------- RESUMEN Estimaciones -------------------

,Country,Year,Type,Value
0,Albania,1975,Emisiones (kilotoneladas metricas de dioxido d...,4338.334
1,Albania,1985,Emisiones (kilotoneladas metricas de dioxido d...,6929.926
2,Albania,1995,Emisiones (kilotoneladas metricas de dioxido d...,1848.549
3,Albania,2005,Emisiones (kilotoneladas metricas de dioxido d...,3825.184
4,Albania,2010,Emisiones (kilotoneladas metricas de dioxido d...,3930.295
...,...,...,...,...
2127,Zimbabwe,2005,Emisiones per capita (toneladas metricas de di...,0.794
2128,Zimbabwe,2010,Emisiones per capita (toneladas metricas de di...,0.672
2129,Zimbabwe,2015,Emisiones per capita (toneladas metricas de di...,0.749
2130,Zimbabwe,2016,Emisiones per capita (toneladas metricas de di...,0.642
2131,Zimbabwe,2017,Emisiones per capita (toneladas metricas de di...,0.588

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2132 non-null   object
 1   Year     2132 non-null   int64
 2   Type     2132 non-null   object
 3   Value    2132 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 66.8+ KB

# Pregunta 0

1. Crear un dataframe con el nombre de variable 'df_emisions_co2' usando √∫nicamente las filas cuya columna 'Type' tiene el valor 'Emisiones totales de CO‚ÇÇ emitidas por el pa√≠s' 

2. Crear un dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando √∫nicamente las filas cuya columna 'Type' tiene el valor 'Emisiones promedio de CO‚ÇÇ emitidas por habitante'.

In [192]:
#Crea un copia del original filtrado como df_emisions_co2
df_emisions_co2 = df[df['Type'] == 'Emisiones (kilotoneladas metricas de dioxido de carbono)']
df_emisions_co2

,Country,Year,Type,Value
0,Albania,1975,Emisiones (kilotoneladas metricas de dioxido d...,4338.334
1,Albania,1985,Emisiones (kilotoneladas metricas de dioxido d...,6929.926
2,Albania,1995,Emisiones (kilotoneladas metricas de dioxido d...,1848.549
3,Albania,2005,Emisiones (kilotoneladas metricas de dioxido d...,3825.184
4,Albania,2010,Emisiones (kilotoneladas metricas de dioxido d...,3930.295
...,...,...,...,...
2119,Zimbabwe,2005,Emisiones (kilotoneladas metricas de dioxido d...,10272.774
2120,Zimbabwe,2010,Emisiones (kilotoneladas metricas de dioxido d...,9464.714
2121,Zimbabwe,2015,Emisiones (kilotoneladas metricas de dioxido d...,11822.362
2122,Zimbabwe,2016,Emisiones (kilotoneladas metricas de dioxido d...,10368.900
2123,Zimbabwe,2017,Emisiones (kilotoneladas metricas de dioxido d...,9714.938

In [193]:
#Crea un copia del original filtrado como df_emisions_co2_per_capita
df_emisions_co2_per_capita = df[df['Type'] == 'Emisiones per capita (toneladas metricas de dioxido de carbono)']
df_emisions_co2_per_capita

       Country  Year                                               Type  Value
8      Albania  1975  Emisiones per capita (toneladas metricas de di...  1.804
9      Albania  1985  Emisiones per capita (toneladas metricas de di...  2.337
10     Albania  1995  Emisiones per capita (toneladas metricas de di...  0.580
11     Albania  2005  Emisiones per capita (toneladas metricas de di...  1.270
12     Albania  2010  Emisiones per capita (toneladas metricas de di...  1.349
...        ...   ...                                                ...    ...
2127  Zimbabwe  2005  Emisiones per capita (toneladas metricas de di...  0.794
2128  Zimbabwe  2010  Emisiones per capita (toneladas metricas de di...  0.672
2129  Zimbabwe  2015  Emisiones per capita (toneladas metricas de di...  0.749
2130  Zimbabwe  2016  Emisiones per capita (toneladas metricas de di...  0.642
2131  Zimbabwe  2017  Emisiones per capita (toneladas metricas de di...  0.588

[1066 rows x 4 columns]

# Pregunta 1

Cu√°ntas filas tiene el dataframe 'df_emisions_co2'?

In [221]:
# Coloque el c√≥digo que responda a la pregunta aqui
df_emisions_co2.shape[0]
cantidad_filas = df_emisions_co2.shape[0]
print(f"La cantidad de filas es", cantidad_filas )

La cantidad de filas es 1066

# Pregunta 2

Cu√°l en el valor m√°s alto de emisiones (en general) usando el dataframe 'df_emisions_co2'?

In [218]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

valor_alto = df_emisions_co2["Value"].max()
print(f"El valor m√°s alto es, {valor_alto}")

#Profe tal cual se ve el valor m√°s alto es value 9257933.9

El valor m√°s alto es, 9257933.9

# Pregunta 3

Cu√°ntos pa√≠ses (Countries) hay en el dataframe 'df_emisions_co2'?

In [217]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

cantidad_paises = len(df_emisions_co2["Country"].unique())
print(f"La cantidad de paises es", cantidad_paises)

La cantidad de paises es 142

In [216]:
#Imprima un lista con todos los paises
todos_paises = df_emisions_co2["Country"].unique()
print(f"La lista de paises  es", todos_paises)

La lista de paises  es ['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium' 'Benin'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Chile'
 'China' 'China Hong Kong SAR' 'Colombia' 'Congo' 'Costa Rica'
 'C√¥te d‚ÄôIvoire' 'Croatia' 'Cuba' 'Cura√ßao' 'Cyprus' 'Czechia'
 "Dem. People's Rep. Korea" 'Dem. Rep. of the Congo' 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea' 'Estonia'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Guatemala' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Libya' 'Lithuania' 'Luxembourg'
 'Malaysia' 'Malta' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'North Macedonia' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Rep. of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Yemen' 'Zambia'
 'Zimbabwe']

# Pregunta 4

Cu√°l es el pa√≠s que tiene mayor emisiones usando el dataframe 'df_emisions_co2'?

In [215]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta
pais_de_mas_emisiones = df_emisions_co2.loc[df_emisions_co2['Value'].idxmax(), 'Country']

print(f"El pa√≠s con mayor cantidad de emisiones es: ", pais_de_mas_emisiones)

El pa√≠s con mayor cantidad de emisiones es:  China

# Pregunta 5

Cu√°l es el *a√±o* que tiene mayor emisiones para el pa√≠s de Spain usando el dataframe 'df_emisions_co2'?

In [214]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se 

espa√±a = df_emisions_co2[df_emisions_co2['Country'] == 'Spain']
a√±o_mas_emisiones = espa√±a ['Year'][espa√±a['Value'].idxmax()]

print(f"El a√±o con mayor cantidad de emisiones en espa√±a es: ", a√±o_mas_emisiones)

El a√±o con mayor cantidad de emisiones en espa√±a es:  2005

# Pregunta 6

Cu√°les son los a√±os que se tiene registros para el dataframe 'df_emisions_co2_per_capita'?

Entrege una lista con los a√±os sin repetirse

In [213]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta
a√±os_de_registro = df_emisions_co2_per_capita["Year"].unique
print(f"Lista de a√±os es:", a√±os_de_registro )

Lista de a√±os es: <bound method Series.unique of 8       1975
9       1985
10      1995
11      2005
12      2010
        ...
2127    2005
2128    2010
2129    2015
2130    2016
2131    2017
Name: Year, Length: 1066, dtype: int64>

# Pregunta 7

Cu√°ntas son las emisiones en 'kilotoneladas m√©tricas' en total usando todos los pa√≠ses para usando el dataframe 'df_emisions_co2'?

In [207]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta
total_de_emisiones = df_emisions_co2["Value"].sum()
print(f"El total de emisiones en Kilotoneladas es:", total_de_emisiones )

El total de emisiones en Kilotoneladas es: 195028250.41599998

# Pregunta 8

Cu√°ntas son las emisiones en 'kilotoneladas m√©tricas' s√≥lo para Albania usando el dataframe 'df_emisions_co2'?

In [227]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta suma
total_emisiones_albania = df_emisions_co2[df_emisions_co2["Country"] == "Albania"]["Value"].sum()
print(f"El total de emisiones en Kilotoneladas para Albania es:", total_emisiones_albania)

El total de emisiones en Kilotoneladas para Albania es: 32713.283000000003

# Pregunta 9

Cu√°ntas son las emisiones totales en 'libras' s√≥lo para Costa Rica usando el dataframe 'df_emisions_co2'?

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta hay una trampa pasar libras a kilos
# Filtrar y sumar las emisiones de Costa Rica (en kilotoneladas m√©tricas)
emisiones_totales_costarica = df_emisions_co2[df_emisions_co2["Country"] == "Costa Rica"]["Value"].sum()

total_kilos = emisiones_totales_costarica * 1_000_000

total_libras = total_kilos * 2.20462

print(f"El total de emisiones en Libras para Costa Rica es: {total_libras:,.2f}")

El total de emisiones en Libras para Costa Rica es: 93,085,906,154.34

# Pregunta 10

Para s√≥lo 'Costa Rica' y suponiendo que las emisiones se estancan a partir del √∫ltimo a√±o reportado (se mantiene igual). Cu√°ntas son las emisiones en 'Kg' s√≥lo para Costa Rica en el a√±o desde el ultimo a√±o hasta el 2025 usando el dataframe 'df_emisions_co2'?

In [243]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta kilogramos = kg
emisiones_por_kilos = df_emisions_co2.Value.iloc[-1] * 1e6 * (2025 - df_emisions_co2.Year.max())
print(f"El total de emisiones en kilogramos para Costa Rica desde {df_emisions_co2.Year.max() + 1} hasta 2025 es: {emisiones_por_kilos:,.0f} kg")

El total de emisiones en kilogramos para Costa Rica desde 2018 hasta 2025 es: 77,719,504,000 kg

# Pregunta 12

Para s√≥lo los pa√≠ses de Centroam√©rica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por a√±o de las emisiones totales en Centroam√©rica usando el dataframe 'df_emisions_co2'?
Se espera un dataframe de 2 columnas: 'Year' y 'total_por_a√±o'

In [249]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta #listas a√±o y total

paises_de_centro_america = ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua']

df_emisions_co2_centroamerica = df_emisions_co2[df_emisions_co2["Country"].isin(paises_de_centro_america)]

centroamerica = df_emisions_co2_centroamerica.groupby("Year")["Value"].sum().reset_index()

centroamerica.rename(columns={"Value": "total_por_a√±o"}, inplace=True)


print( reporte_centroamerica)

   Year  total_por_a√±o
0  1975       9860.972
1  1985      10250.333
2  1995      20960.234
3  2005      33562.291
4  2010      34533.555
5  2015      43107.376
6  2016      44366.072
7  2017      43556.261

# Pregunta 13

Para s√≥lo los pa√≠ses de Centroam√©rica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por a√±o de las emisiones en promedio en Centroam√©rica usando el dataframe 'df_emisions_co2_per_capita'?
Se espera un dataframe de 2 columnas: 'Year' y 'promedio_por_a√±o'

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta #promedio por persona

TypeError: 'str' object is not callable

# Pregunta 14

Cu√°l es el promedio de las emisiones per capita para el a√±o 2005 usando el dataframe 'df_emisions_co2_per_capita'?

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 15

Usa el dataframe  'df_emisions_co2_per_capita' con las columnas Year y promedio_por_a√±o para crear una gr√°fica de l√≠neas que muestre la evoluci√≥n del promedio de emisiones per c√°pita en Centroam√©rica a lo largo del tiempo; el eje X debe ser el a√±o y el eje Y el promedio de emisiones.

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

In [228]:
df

,Country,Year,Type,Value
0,Albania,1975,Emisiones (kilotoneladas metricas de dioxido d...,4338.334
1,Albania,1985,Emisiones (kilotoneladas metricas de dioxido d...,6929.926
2,Albania,1995,Emisiones (kilotoneladas metricas de dioxido d...,1848.549
3,Albania,2005,Emisiones (kilotoneladas metricas de dioxido d...,3825.184
4,Albania,2010,Emisiones (kilotoneladas metricas de dioxido d...,3930.295
...,...,...,...,...
2127,Zimbabwe,2005,Emisiones per capita (toneladas metricas de di...,0.794
2128,Zimbabwe,2010,Emisiones per capita (toneladas metricas de di...,0.672
2129,Zimbabwe,2015,Emisiones per capita (toneladas metricas de di...,0.749
2130,Zimbabwe,2016,Emisiones per capita (toneladas metricas de di...,0.642
2131,Zimbabwe,2017,Emisiones per capita (toneladas metricas de di...,0.588